<div class="ui grid container center-aligned">
    <div class="row"></div>
    <div class="row"></div>
    <div class="row">
        <div class="sixteen wide column">
            <div class="ui grid segment">
                <div class="eight wide column">
                    <div class="ui fluid icon input">
                        <input type="text"
                            placeholder="Customer Name"
                            [(ngModel)]="params.name"
                            (ngModelChange)="filterCustomers()">
                        <i class="user icon"></i>
                    </div>
                    <br>
                    <div class="ui fluid icon input">
                        <input type="text"
                            placeholder="Food Name"
                            [(ngModel)]="params.food"
                            (ngModelChange)="filterCustomers()">
                        <i class="food icon"></i>
                    </div>
                </div>
                <div class="two wide column">
                    <div class="ui form">
                        <div class="grouped fields">
                            <label>Served</label>
                            <div class="field"
                                *ngFor="let option of options">
                                <div class="ui radio checkbox">
                                    <input type="radio" name="served"
                                        [(ngModel)]="params.served"
                                        (ngModelChange)="filterCustomers()"
                                        [value]="option">
                                    <label>{{option | capitalize}}</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="two wide column">
                    <div class="ui form">
                        <div class="grouped fields">
                            <label>Paid</label>
                            <div class="field"
                                *ngFor="let option of options">
                                <div class="ui radio checkbox">
                                    <input type="radio" name="paid"
                                        [(ngModel)]="params.paid"
                                        (ngModelChange)="filterCustomers()"
                                        [value]="option">
                                    <label>{{option | capitalize}}</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="two wide column">
                    <div class="ui form">
                        <div class="grouped fields">
                            <label>Change</label>
                            <div class="field"
                                *ngFor="let option of options">
                                <div class="ui radio checkbox">
                                    <input type="radio" name="change"
                                    [(ngModel)]="params.change"
                                    (ngModelChange)="filterCustomers()"
                                    [value]="option">
                                    <label>{{option | capitalize}}</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="two wide column">
                    <button class="ui fluid icon button"
                        (click)="resetParams()">
                        <i class="undo icon"></i>
                        Reset
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="ui container"
    >
    <div class="ui segment"
        style="overflow-y:scroll;white-space:nowrap;height:65vh">
        <div class="ui two column grid">
            <div class="column"
                *ngFor="let customer of customers">
                <div class="ui segment">
                    <div class="ui center aligned header">
                        [ {{customer.name.toUpperCase()}} ]
                    </div>
                    <table class="ui table fixed celled center aligned">
                        <thead>
                            <tr>
                                <th>Price</th>
                                <th colspan="3">Food</th>
                                <th>Served</th>
                                <th>Remove</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let order of customer.orders">
                                <td>P{{order.price}}</td>
                                <td colspan="3">{{order.food}}</td>
                                <td>
                                    <button class="ui circular icon button"
                                        [ngClass]="{red: !order.served, green: order.served}"
                                        (click)="setOrderServe(customer, order)">
                                        <i class="icon" 
                                            [ngClass]="{'minus square': !order.served, 'check square': order.served}"></i>
                                    </button>
                                </td>
                                <td>
                                    <button class="ui icon button"
                                        (click)="removeOrder(customer, order)">
                                        <i class="remove icon"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="ui grid">
                        <div class="five wide column">
                            <button class="ui fluid disabled black button">
                                Total Price: {{computeTotalPrice(customer)}}
                            </button>
                        </div>
                        <div class="five wide column">
                            <button class="ui fluid icon button"
                                [ngClass]="{ 'red': !customer.paid, 'green': customer.paid }"
                                (click)="setCustomerPaid(customer)">
                                <i class="dollar icon"></i>
                                <span *ngIf="customer.paid">Paid</span>
                                <span *ngIf="!customer.paid">Pay Now</span>
                            </button>
                        </div>
                        <div class="five wide column">
                            <div class="ui labeled input">
                                <div class="ui label">
                                    Change
                                </div>
                                <input type="number"
                                    [(ngModel)]="customer.change"
                                    (ngModelChange)="setCustomerChange(customer)"
                                    style="width: 5vw">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>